<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
            }
            th, td ,h1 , h3{
                padding: 5px;
                text-align: center;    
            }
        </style>
    </head>

    <body>
        <hr>
        <table style="width:50%">
            <tr>
                <th colspan="5"><h2>Questions</h2></th>
            </tr>
            <tr>
                <td colspan="5">
                    <a href="/questions/all">View all questions</a> |
                    <a href="/questions/new">Add new question</a> | 
                    <a href="/exams/all">View all exams</a> |
                    <a href="/exams/new">Build new exam</a> 
                    
                </td>
            </tr>
            <tr>
                <th>ID</th>
                <th colspan="3">Statement</th>
            </tr>
            {{ range .questions }}
            <tr>
                <td>{{.ID}}</td>
                <td>
                    <b>{{if eq .Drafted true}}(Drafted){{end}}</b>
                    {{.Statement}}
                </td>
                <td onclick="GoNav('/question/{{ .ID }}')" style="cursor: pointer;">View</td>
                <td onclick="GoNav('/question/{{ .ID }}/solve')" style="cursor: pointer;">Solve</td>
            </tr>
            {{ end }}

        </table>
        <hr>
    <script type="text/javascript">
        function GoNav(url){
            document.location.href = url;
        }
    </script>
    </body>
</html>

