<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
            }
            th, td ,h1 ,h3{
                padding: 5px;
                text-align: center;    
            }
        </style>
    </head>

    <body>
        <hr> 
        <form action="/questions/add" method="post">
            <table style="width:50%">
                <tr>
                    <td colspan="5">
                        <a href="/questions/all">All questions</a> |
                        <a href="/questions/new">New question</a> | 
                        <a href="/exams/all">All exams</a> |
                        <a href="/exams/new">New exam</a> 
                    </td>
                </tr>
                <tr>
                    <th colspan="5">
                        <p style="text-align: left;"> >> add new quetsion</p>
                    </th>
                </tr>
                <tr>
                    <th>Statement :</th>
                    <th> <textarea rows="5" cols="30" name="statement" required></textarea></th>
                </tr>
                <tr>
                    <th>AnswerA :</th>
                    <th> <textarea name="answer_a" required></textarea></th>
                </tr>
                <tr>
                    <th>AnswerB :</th>
                    <th> <textarea name="answer_b" required></textarea></th>
                </tr>
                <tr>
                    <th>AnswerC :</th>
                    <th> <textarea name="answer_c" required></textarea></th>
                </tr>
                <tr>
                    <th>AnswerD :</th>
                    <th> <textarea name="answer_d" required></textarea></th>
                </tr>
                <tr>
                    <th>Correct Answer:</th>
                    <td>
                            <input type="radio" name="correct_answer" value="A"> A
                            <input type="radio" name="correct_answer" value="B"> B
                            <input type="radio" name="correct_answer" value="C"> C
                            <input type="radio" name="correct_answer" value="D"> D
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="action" value="Add"> | 
                        <input type="submit" name="action" value="Draft">
                    </td>
                </tr>    
            </table>
        </form>
        <hr>
    </body>
</html>
