<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                margin: auto;
            }
            th, td ,h1 ,h3{
                padding: 5px;
                text-align: center;    
            }
        </style>
    </head>

    <body>
        <hr>
        <table style="width:50%">
            <tr>
                <td colspan="5">
                    <a href="/questions/all">All questions</a> |
                    <a href="/questions/new">New question</a> | 
                    <a href="/exams/all">All exams</a> |
                    <a href="/exams/new">New exam</a> 
                </td>
            </tr>
            <tr>
                <th colspan="5">
                    <p style="text-align: left;"> >> question #{{.question.ID}}</p>
                </th>
            </tr>
            <tr>
                <th>Statement :</th>
                <td> {{.question.Statement}}</th>
            </tr>
            <tr>
                <th>AnswerA :</th>
                <td> {{.question.AnswerA}}</th>
            </tr>
            <tr>
                <th>AnswerB :</th>
                <td> {{.question.AnswerB}}</th>
            </tr>
            <tr>
                <th>AnswerC :</th>
                <td> {{.question.AnswerC}}</th>
            </tr>
            <tr>
                <th>AnswerD :</th>
                <td> {{.question.AnswerD}}</th>
            </tr>
            <tr>
                <th>Correct Answer :</th>
                <td> {{.question.CorrectAnswer}}</th>
            </tr>    
        </table>
        <hr>
    </body>

</html>
